<mat-tab-group>
    <mat-tab label="Content Management">
        <!-- banner management -->
        <!-- contact management -->
        <!-- cancellation reasons manager -->
    </mat-tab>
    <mat-tab label="Services">
        <!-- service management -->
        <!-- cloth management -->
        <!-- area management -->
    </mat-tab>
    <mat-tab label="Date & Time">
        <!-- opening and closing hours -->
        <!-- holiday management -->
    </mat-tab>
    <mat-tab label="Billing">
        <!-- billing additional charges -->
    </mat-tab>
    <mat-tab label="Policies">
        <!-- terms & conditions -->
        <!-- privacy policy -->
    </mat-tab>
</mat-tab-group>