section{
    padding:20px;
    .banners{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        width: 100%;
        // min-height: 200px;
        padding: 20px;
        .banner{
            width: 300px;
            height: 200px;
            padding: 7px;
            border-radius: 10px;
            border:2px solid rgb(190, 190, 190);
            transition: scale 0.3s;
            img{
                border-radius: 10px;
            }
            .details{
                display: grid;
                grid-template-columns: 1fr 1fr;
                p{
                    font-size: 13px;
                    margin:0px;
                }
                p:nth-child(1){
                    font-size: 17px;
                }
                .fullWidth{
                    grid-column: 1 / 3;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .actions{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
        .banner:hover{
            scale: 1.05;
        }
        .addNew{
            width: 300px;
            height: 200px;
            padding: 7px;
            border-radius: 10px;
            border:2px dashed rgb(216, 216, 216);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            mat-icon{
                color: rgb(190, 190, 190);
            }
            .add{
                font-size: 50px;
                color: rgb(190, 190, 190);
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        width: min-content;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
        .row{
            display: flex;
            gap: 20px;
        }
    }
    .list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap:10px;
        mat-card{
            max-width: 700px;
            padding: 0px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .actions{
        gap: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        .row{
            display: flex;
            gap: 20px;
        }
    }
    .timeManagement{
        display: flex;
        gap: 50px;
        width: fit-content;
        padding:20px;
        padding-bottom: 0px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
        .block{
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
    .holidays{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        span{
            display: flex;
            align-items:center;
            font-size: 13px;
            border: 2px solid #579540;
            padding: 0px 10px;
            border-radius: 10px;
            strong{
                margin:0px;
            }
        }
    }
    .policies{
        display:flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        mat-form-field,textarea{
            width: 100%;
        }
    }
    
}