.mat-tab-group{
    width: 100%;
    height: 100%;
    .mat-tab{
        color: red;
        height: 100%;
        width: 100%;
        label{
            color: red;
        }
        .mat-tab-body-content{
        height: 100%;
        width: 100%;
        }
    }
}
.mat-tab-label {
    color: red;
    
}