<div class="container">
  <div class="card">
    <img src="assets/mainIcon.png" class="logo" />
    <p class="text1">Sign In</p>
    <form class="signup_Form">
      <div class="form_box">
        <label>Email Address</label>
        <input placeholder="create@shreeva.com" />
      </div>
      <div class="form_box">
        <label>Password</label>
        <input type="password" />
      </div>
      <p class="forgot">Forget Password?</p>


      <button class="signUpButton" routerLink="/home"  >Sign In</button>
      <!-- <p>Don't Have a account? <b> Sign Up</b></p> -->
    </form>
  </div>
</div>
