<section>
  <h4>Banner Management</h4>
  <hr />
  <form [formGroup]="newBannerForm">
    <mat-slide-toggle formControlName="enabled"
      >Enable/Disable</mat-slide-toggle
    >
    <div class="row">
      <strong> Title: </strong>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" formControlName="title" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <strong> Action Type: </strong>
      <mat-form-field appearance="outline">
        <mat-label>Action Type</mat-label>
        <mat-select
          placeholder="Type"
          formControlName="bannerUrlType"
          name="type"
          #linkType
        >
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="linkType.value == 'App'">
      <strong> Action Type: </strong>
      <mat-form-field appearance="outline">
        <mat-label>Action Type</mat-label>
        <mat-select
          placeholder="Type"
          formControlName="bannerUrlType"
          name="type"
        >
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row" *ngIf="linkType.value == 'Url'">
      <strong> URL: </strong>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="bannerUrl" type="text" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <strong> Banner Image: </strong>
      <button mat-flat-button color="primary">Upload</button>
      <button mat-stroked-button color="primary">Remove</button>
    </div>
    <div class="row">
      <strong> Date Range: </strong>
      <mat-form-field appearance="outline">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
          />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </form>
  <div class="preview">
    <mat-icon>image</mat-icon>
    <p>Image Preview</p>
  </div>
  <p></p>
  <div class="actions">
    <button mat-flat-button color="primary">Save</button>
    <button mat-stroked-button color="primary">Cancel</button>
  </div>
</section>
