// .header_bar {
//   width: 100%;
//   min-height: 10vh;
//   height: fit-content;
//   margin-bottom: 1rem;
//   display: flex;
//   align-items: fle;
//   justify-content: flex-end;

//   gap: 1rem;
//   flex-wrap: wrap;
//   margin: 2rem 0;
//   .mat-form-field,button,.uk-inline{
//     height:3.7rem;
//     width: 12rem;
//     padding: 0;
//     margin: 0;
//     border-radius: .9rem;
//     font-size: 1rem;
//     transform: scale(.8);

//     button{
//       // font-size: 0.6rem;  
//       background: transparent;
//       border: none;
//     height: 100%;
//     } 
//     i{
// font-size: 1rem;
// margin: 0;

// }
// ul{
//   cursor: pointer;
//   padding: 0;
//   list-style-type: none;
//   li{
//     list-style-type: none;
//     padding: 0.5rem;
//     &:hover{
//       background-color: var(--color-secondary);
//       color: #fff;

//     }
//   }
// }
//     cursor: pointer;
//     color: var(--color-tertiary);
//     background-color: var(--color-secondary);
//     border: none;
//     min-width: 9rem;
//     box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
//       rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
//     input{
//       background-color: transparent;
//       border: none;
//       color: var(--color-quaternary);
//       height: 100%;
//       padding: 0;
//       margin: 0;
//       font-size:.8rem;
//       width: 90%;
//       border: none;
//     }
//     .mat-form-field-appearance-fill .mat-form-field-flex {
//       border-radius: 4px 4px 0 0;
//       padding: 0;
//     }



//   }
//   @media screen and (max-width: 600px) {
//     justify-content: space-between;
//     margin: 0;
//     .mat-form-field,button,.uk-inline{
//    transform: scale(.72);
//    width: 7rem;
//    margin: 0;
//     }
//   }

// }
// .orderCards {
//   width: 100%;
//   height: fit-content;
//   min-height: 8rem;
//   flex-wrap: wrap;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   .orderCard {
//     width: 30%;
//     height: 100%;
//     min-height: 7rem;
//     border-radius: 0.6rem;
//     box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
//     padding: 1rem;

//     p {
//       margin: 0;
//       color: var(--color-quinary);
//       font-weight: 600;
//       font-size: 1rem;
//     }
//     .bar {
//       height: 0.1rem;
//       margin: 1rem 0;
//       font-size: 1.2rem;
//       color: var(--color-quinary);
//     }
//     button {
//       color: var(--color-tertiary);
//       background-color: var(--color-secondary);
//       border-radius: 50%;
//       border: none;
//       height: 1.7rem;
//       width: 1.7rem;
//       font-size: 1.1rem;
//       margin: 0 1rem;
//     }
//   }
//   .orderCard:nth-child(1) {
//     background-color: var(--color-quaternary);

//     b {
//       color: green;
//       margin-right: 1rem;
//     }
//   }
//   .orderCard:nth-child(2) {
//     background-color: #eaecff;

//     b {
//       color: #0019ff;
//       margin-right: 1rem;
//     }
//   }
//   .orderCard:nth-child(3) {
//     background-color: #ffeaea;

//     b {
//       color: #ff0000;
//       margin-right: 1rem;
//     }
//   }
// }
// .orderTable {
//   width: 100%;
//   overflow-x: auto;
//   margin: 3rem 0;
//   position: relative;
//   #report{
//     background-color: var(--color-secondary);
//     color: var(--color-tertiary);
//     padding: 0.5rem 1rem;
//     font-size: 1rem;
//     border: none;
//     border-radius: 0.6rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap:1rem;
//     position: absolute;
//     right: 0;
//     top: 0;
//     cursor: pointer;


//   }
//   table {
//     padding: 2rem 0;;
//     width: 100%;
//     tr {
//       border: 2px solid green;
//       width: 100%;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 1rem;
//       margin: 1rem 0;
//       border-radius: 0.6rem;
//       text-align: center;
//     }
//     td {
//       font-weight: 400;
//       cursor: pointer;
//       button,select {
//         border-radius: 0.6rem;
//         border: 1px solid #f56606;
//         background-color: #ffe0d1;
//         color: #f56606;
//         padding: 0.3rem 0.6rem;
//       }
//       .access{
//         border-radius: 0.6rem;
//         border: 1px solid var(--color-secondary);
//         background-color: #ffffff;
//         color: var(--color-secondary);
//         padding: 0.3rem 0.6rem;
//     }
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       .date {
//         border-radius: 0.6rem;
//         border: 1px solid #3c95bc;
//         background-color: #c3dbff;
//         font-size: 0.8rem;
//         color: #3c95bc;
//         padding: 0.3rem;
//         width: 4rem;

//       }
//     }
//   }
//   @media screen and (max-width: 600px) {
//     table {
//       border: 0;
//     }

//     table caption {
//       font-size: 1.3em;
//     }

//     table thead {
//       border: none;
//       clip: rect(0 0 0 0);
//       height: 1px;
//       margin: -1px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       width: 1px;
//     }

//     table tr {
//       border-bottom: 3px solid #ddd;
//       display: block;
//       margin-bottom: .625em;
//     }

//     table td {
//       width: 100%;
//       display: block;
//       font-size: 1em;
//       text-align: right;
//       margin: 1rem 0;
//     }

//     table td::before {
//       /*
//       * aria-label has no advantage, it won't be read inside a table
//       content: attr(aria-label);
//       */
//       content: attr(data-label);
//       float: left;
//       font-weight: bold;
//       text-transform: uppercase;
//     }

//     table td:last-child {
//       border-bottom: 0;
//     }
//   }
// }
// #newUser{
//   .uk-modal-dialog{
//     width: 55vw;
//     height: fit-content;
//     border-radius: 1rem;
//     position: relative;
//     .search11{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 90%;
//       margin:1rem  auto;
//       box-shadow: none;
//       outline: none;
//       .uk-search{
//           height: 100%;
//           width: 100%;
//           border: none;
//           box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//           outline: none;
//           @media screen and (max-width: 600px) {

//             display: none;
//           }

//       }

//             }
//     .ri-close-circle-line{
//       position: absolute;
//       top: 1rem;
//       right: 1rem;
//       font-size: 2rem;
//       color: var(--color-quinary);
//       cursor: pointer;
//     }
//     .modal-header{
//       width: 100%;
//       height: 10vh;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       font-size: 1.2rem;
//       font-weight: 600;
//       color: var(--color-quinary);
//     }
//    .user{
//     width: 100%;
//     height: 8rem;
//     display: flex;
//     align-items: flex-end;
//     justify-content: flex-start;
//     padding: 1rem;
//     cursor: pointer;
//     img{
//       height: 6.5rem;
//       width: 6.5rem;
//       border-radius: 50%;
//       position: relative;
//     }
//     .cam{
//       position: relative;
//       bottom: 0rem;
//       left: -2rem;
//       font-size: 1rem;
//       background-color: var(--color-quaternary);
//      height: 1.5rem;
//       width: 1.5rem;

//       border-radius: 20%;
//       color: var(--color-quinary);
//     }
//     button{
//       margin: 0 0.7rem;
//       font-size: 1.2rem;
//       border: none;
//       background-color: var(--color-quaternary);
//       color: var(--color-secondary);
//       height: 2rem;
//       width: 2rem;
//       box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
//       border-radius: 0.5rem;
//     }

//    }

//   }
// }
// .userForm{
//   width: 100%;
//   margin: 1rem auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap:1rem;
//   margin: 1rem auto;
//   flex-wrap: wrap;
//   input,textarea,select{
//     width: 45%;
//     height: 3rem;
//     border-radius: 0.6rem;
//     border: 2px solid #595959;



//     padding: 0.6rem 1rem;
//     outline: none;
//   }
//   button{
//     width:30%;
//     margin: 1rem auto;
//     height: 3rem;
//     border-radius: 0.6rem;
//     border: none;
//     background-color: var(--color-secondary);
//     color: var(--color-quaternary);
//     font-size: 1rem;
//     font-weight: 600;
//     cursor: pointer;
//   }

// }
// #deleteUser{
// .uk-modal-dialog{
//   display: flex;
//   align-items: center;
//   position: relative;
//   justify-content: center;
//   width: 30vw;
//   height: 30vh;
//   flex-direction: column;
//   p{
//     font-size: 1.2rem;
//   }
//   i{
//     font-size: 2rem;

//   }
//   .buttons{
//     margin: 1rem 0;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     width: 100%;
//     button{
//       width: 45%;
//       height: 3rem;
//       border-radius: 0.6rem;
//       border: none;

//       font-size: 1rem;
//       font-weight: 600;
//       cursor: pointer;
//     }

//  button:nth-child(1){
//     background-color: var(--color-quaternary);
//     color: var(--color-secondary);  
//   }
//    button:nth-child(2){
//     background-color: var(--color-secondary);
//     color: var(--color-quaternary);  
//   }
//   }
// }
// }
// .mat-paginator-container {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   padding: 0 8px;
//   flex-wrap: wrap-reverse;
//   width: 100%;
//   background: #ffb4e7;
//   color: black;
// }










// NEW UI
* {
  #progress {
    border: 1px solid #D37F07;
    border-radius: 6px;
    color: #D37F07;
    background: rgba(211, 127, 7, 0.15);
    width: 130px;
    height: 30px;
    padding: 4px 12px;
    text-align: center;
  }

  #done {
    border: 1px solid #579540;
    border-radius: 6px;
    color: #579540;
    background: #EFFFEA;
    width: 130px;
    height: 30px;
    padding: 4px 12px;
    text-align: center;
  }
}



.main-container {
  margin-left: 7px;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .search {
      display: flex;
      border: 1px solid #676879;
      border-radius: 4px;
      padding: 5px 15px;
      width: 55%;
      height: 40px;
      margin-top: 13px;
      height: 45px;

      i {
        margin-top: 5px;
      }

      input {
        border: 0;
        outline: 0;
        margin-left: 7px;
        width: 100%;
      }
    }

    .icons {
      display: flex;
      width: 35%;
      justify-content: space-evenly;

      button {
        display: flex;
        width: 150px;
        margin-top: 5px;
        height: 60px;

        i {
          margin-right: 5px;
          font-size: 20px;
        }
      }


      .date {
        // background-color: #579540;
        border-radius: 8px;
        padding: 5px 8px;

        input {
          color: #fff;
          margin: 0;
          padding: 0;
          // background: #579540;
          border: 0;
          outline: 0;
        }
      }
    }
  }

  .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
  }

  .dropdown {
    margin-top: 20px;

    mat-panel-title {
      font-weight: 600;
      font-size: 18px;
    }

    .customers {
      display: flex;
      margin-top: 20px;

      div {
        border: 1px solid #579540;
        border-radius: 8px;
        width: 10em;
        height: 5em;
        padding: 8px 15px;
        margin-right: 20px;


        h3 {
          text-align: center;
          margin: 0;
          font-weight: bold;
          color: #579540;
        }

        p {
          font-family: 'Lato';
          margin: 0;
          font-size: 14px;
          text-align: center;
          color: #579540;
        }
      }

      #pending {
        border: 1px solid #D37F07;

        h3,
        p {
          color: #D37F07;
        }
      }
    }

    .table-1 {
      display: grid;
      grid-template-columns: 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr;
      margin: 20px 0 10px 0;
      width: 100%;
      border: 1px solid #9E9E9E;
      border-radius: 12px;
      padding: 10px 20px;



      .items {
        font-size: 20px;
        display: flex;

        p {
          margin: 0;
          margin-top: 11px;
        }

        i,
        mat-icon {
          margin-top: 11px;
        }

        img {
          transform: translateY(-6px);
        }
      }
    }

    mat-expansion-panel-header {
      border: 1px solid #9E9E9E;
      // border-radius: 12px;
      height: 75px;

      .table-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 20px;
        width: 100%;

        .items {
          font-size: 20px;
          display: flex;

          p {
            margin: 0;
            margin-top: 11px;
          }

          i,
          mat-icon {
            margin-top: 11px;
          }

          img {
            transform: translateY(-6px);
          }
        }
      }
    }

    .user-header {
      display: grid;
      grid-template-columns: 1fr 3fr 4fr 0.5fr;

      .name {
        font-size: 20px;
        padding-top: 20px;
        padding-left: 30px;
        color: #444;
        width: 40%;
      }

      .address {

        font-size: 20px;
        padding-top: 20px;
        color: #444;
        width: 40%;

      }

      .icons {
        padding-top: 20px;
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
    }

    .user-details {
      width: 100%;

      .head {
        display: flex;
        justify-content: space-between;
      }

      button {
        color: #fff;
        background: #579540;
      }


      .details-1 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        font-size: 20px;
        margin-bottom: 15px;
      }

      .details-2 {
        width: 100%;
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 0.9fr 1fr 1fr 1fr 1fr 1fr 0.8fr;
        font-size: 20px;
        margin-bottom: 15px;
        padding-top: 20px;
      }

      .details-detail {

        .details-user {
          .user-header {
            display: grid;
            grid-template-columns: 1fr 3fr 4fr 0.5fr;

            .name {
              font-size: 20px;
              padding-top: 20px;
              padding-left: 30px;
              color: #444;
              width: 40%;
            }

            .address {

              font-size: 20px;
              padding-top: 20px;
              color: #444;
              width: 40%;

            }

            .icons {
              padding-top: 20px;
              width: 70%;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }

      .payment {
        margin-top: 20px;

        .headings {
          display: grid;
          grid-template-columns: 2fr 2fr 3fr 0.5fr 0.5fr;
          font-size: 20px;
          font-weight: bold;
          border-bottom: 2px solid #4444;
          padding-bottom: 12px;
          margin-bottom: 20px;
        }

        .payment-details {
          display: flex;
          width: 100%;

          .clothes {
            width: 50%;
            padding: 0 20px;
            font-size: 18px;
            font-family: 'Lato';
            color: #7D7D7D;


            .clothes-details {

              p {
                display: flex;
                justify-content: space-between;
              }
            }
          }

          .bill {
            width: 50%;
            border: 2px solid #D7D7D7;
            border-radius: 12px;

            h3 {
              border-bottom: 2px solid #D7D7D7;
              padding: 4px 20px;
            }

            p {
              display: flex;
              justify-content: space-between;
              padding: 0 20px;

              span {
                font-size: 20px;
              }
            }

            .total-amount {
              border-top: 2px solid #D7D7D7;
              padding: 20px;
              font-size: 20px;
              font-weight: bold;
              font-family: 'Lato';

            }
          }
        }
      }

    }

  }
}